<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    <key>ATSApplicationFontsPath</key>
        <string></string>
        <key>UIAppFonts</key>
        <array>
            <string>Raleway-SemiBold.ttf</string>
            <string>Raleway-Regular.ttf</string>
            <string>Raleway-Bold.ttf</string>
        </array>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>io.appwrite</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>appwrite-callback-newchat</string>
                </array>
            </dict>
        </array>
    </dict></plist>
